AuthType Basic
AuthName "Restricted Area"
AuthUserFile /assets/resources/.htpasswd
Require valid-user

RewriteEngine On

# Remove .php extension from the URL
RewriteCond %{THE_REQUEST} \s/([^\s]+)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# If the requested URL does not directly correspond to an existing file
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested URL does not directly correspond to an existing directory
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite the URL to add .php extension
RewriteRule ^([^/]+)/?$ $1.php [L]

# Custom 404 Error Page
ErrorDocument 404 /404.php